// Background Colors
$light-background: #f2f2f2;
$dark-background: #111216;
$purple: #4415ff;
// Text color:
$white_text: #fff;
$dark_text: #111216; 
// Alternate colors
$alt_dark: #181C28;
$alt_light: #0000001a